@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;700;900&family=Nanum+Myeongjo:wght@400;700;800&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;
}
ul,li{
  list-style: none;
}
a{
  text-decoration: none;
  color: inherit;
}
p,h2,h3{
  color: #4B4949;
}